body {
	background-color: rgb(255, 255, 255);
	display: grid;
	align-items: center;
	justify-items: center;
	color: rgb(53, 53, 53);
	font-family: 'Inter', serif;
}

ul.linkList {
	list-style-type: none;
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	gap: 10px;
	width: 100%;
}

li {
	width: 100%;
	background-color: lightcoral;
	display: flex;
}
a {
	text-decoration: none;
	padding: 10px;
	background-color: rgb(4, 149, 149);
	width: 100%;
	color: white;
}

a:hover {
	background-color: rgb(7, 192, 192);
	scale: 1.05;
	animation-duration: 200ms;
	transition-duration: 200ms;
}
