* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab',sans-serif;
    min-width: 400px;
    background-color: rgb(102, 71, 141);
}
header {
    padding: 1em;
    color:white;
}
.container {
   
    display: grid;
    grid-template-columns:400px;

    text-overflow: none;
    justify-content: center;
    align-content: center;
}

.container input {
    font-size:1.5em;
    padding: 0.5em;
    outline: none;
    border:none;
}

.display-all-pokemon{
    
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 1em;
}

.pokemon-item {
    background-color: lightblue;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    transition: transform 0.25s;
}

.pokemon-item:hover {
    transform: translateY(-0.5em);
}

.pokemon-item:active {
    transform: translateY(1.25em);
}


.display-pokemon {
    background-color: lightblue;
    display: grid;
    grid-template-columns: auto;
    gap:1em;
    justify-content: center;
    align-content: center;
    padding-bottom: 3em;
    border-radius: dws;
    position: relative;
}

.display-pokemon img {
    height: 8em;
}

.pokemon-name {
    font-family: "Poetsen One", sans-serif;
    font-size:2em;
    color:rgb(240, 63, 32);
}
.abilities{
    display: grid;
    grid-template-columns: auto;
}


.next-btn,.prev-btn {
    position: absolute;
    cursor: pointer;
    font-size: 1.5em;
}

.next-btn {
    right: 2.5em;
    top: 2em;
}

.prev-btn {
    left:2.5em;
    top:2em;
}